<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% for order in orders %}
    <center>
        <div class="line">
        <h2>{{ order.title }}</h2> 
        <h3>{{ order.adress }}</h3>
        <img src="{{ order.img_outside.url }}" weight="350" height="350"> <img src="{{ order.img_inside.url }}" weight="350" height="350">
        <h3>Фото снаружиㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤФото внутри</h3>
        <h4>{{ order.desc }}</h4>
        <h3>Телефон аредодателя: {{ order.author.phone }}</h3>
        <h3>Цена за месяц аренды: {{ order.price }} рублей</h3>
        {% if order.is_arendated == False %}
        <form action="{% url 'isarendated' user.id order.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Арендовано</button>
        </form>
        {% else %}
        <form action="{% url 'isnotarendated' user.id order.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Не арендовано</button>
        </form>
        {% endif %}
        <br>
        <form action="{% url 'deleteorder' user.id order.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить</button>
        </form>
        <br>
        </div>
     </center>
    {% endfor %}
    {% endblock %}
</body>
</html>