<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <center>
       <h2>{{ order.title }}</h2> 
       <h3>{{ order.adress }}</h3>
       <img src="{{ order.img_outside.url }}" weight="350" height="350"> <img src="{{ order.img_inside.url }}" weight="350" height="350">
       <h3>Фото снаружиㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤФото внутри</h3>
       <p>{{ order.desc }}</p>
       <h3>Телефон аредодателя: {{ order.author.phone }}</h3>
       <h3>Цена за месяц аренды: {{ order.price }} рублей</h3>
    </center>
    {% endblock %}
</body>
</html>